{% extends "bg_layout.html" %}
{% block content %}

	<div class="welcome-header">
		<img src = "../static/images/ccb_logo.png" style="width: 55px;">
	</div>

	<div class="slogan">
		<p style="color: #ffffff; font-family: 'Roboto', sans-serif; font-weight: 300;">Hone your design.</p>
	</div>

	<div class="start-container">
		<div class="form-group">
			<input type="email" class="form-control" id="email" placeholder="EMAIL">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="pwd" placeholder="PASSWORD">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-default login-button">SIGN IN</button>
		</div>
		<div class="form-group">
			<a href="{{ url_for('signup') }}"><button type="submit" class="btn btn-default login-button">New to CCB? Sign up here.</button></a>
		</div>
	</div>

{% endblock %}