{% extends "nav_layout.html" %}
{% set active_page = 'responses' %}

{% block content %}

<h1 class="inside">Responses</h1>

{% if not responses %}
	<p>It looks like you have no responses yet. Looking to get some feedback on a design? Upload your images <a href="{{ url_for('upload') }}">here</a>!</p>
{% else %}
	{% for response in responses %}
		<div class="row">
			<div class = "col-md-6 responses" {% if not response.task1_completed %} style="opacity: 0.3; pointer-events: none;" {% endif %}>
				<a href="{{ url_for('response', id=response.id) }}">
					<p>{{ response.name }}</p>
					<div class="col-md-6">
						<img src="{{ response.url_1 }}" class="img-thumbnail img-responsive">
					</div>
					
					<div class="col-md-6">
						<img src="{{ response.url_2 }}" class="img-thumbnail img-responsive">
					</div>
				</a>
			</div>
		</div>
	{% endfor %}
{% endif %}

<br><br>

{% endblock %}