{% extends "nav_layout.html" %}
{% set active_page = 'upload' %}

{% block content %}

<h1 class="inside">Upload your design</h1>

<form action="{{ url_for('upload') }}" method="post">

<div class="row">
	<div class="col-md-12 upload">
		<h2>1. NAME YOUR JOB<h2>
		<div class="form-group form-group-lg">
			<input type="text" name="name" class="form-control" placeholder="ENTER NAME HERE...">
		</div><!-- /input-group -->
	</div>
</div>

<div class="row">
	<div class="col-md-12 upload">
		<h2>2. UPLOAD YOUR TWO DESIGNS<h2>
		<h3>ENTER URL FOR OPTION A:</h3>
		<div class="form-group form-group-lg option-a">
			<input type="text" name="url1" class="form-control" placeholder="ENTER URL HERE..." style="background-color: rgb(250, 231, 240); color: rgb(244, 119, 175);">
		</div><!-- /input-group -->

		<div class="form-group form-group-lg option-b">
			<h3>ENTER URL FOR OPTION B:</h3>
			<input type="text" name="url2" class="form-control" placeholder="ENTER URL HERE..." style="background-color: rgb(226, 248, 254); color: rgb(56, 213, 254);">
		</div><!-- /input-group -->

	</div>
</div>

<div class="row">
	<div class="col-md-12 upload">
		<h2>3. DESCRIBE YOUR DESIGNS<h2>
		<h3>WHAT ARE THE DESIGNS FOR? WHAT DO THEY REPRESENT?</h3>
		<div class="form-group form-group-lg">
			<input type="text" name="description" class="form-control" placeholder="ENTER DESCRIPTION HERE...">
		</div><!-- /input-group -->
	</div>
</div>

<div class="row">
	<div class="col-md-12 upload">
		<h2>4. ENTER NUMBER OF DESIRED VOTERS<h2>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				SELECT BELOW
				<span class="caret"></span>
			</button>
			<input type="text" id="num-voters-input" name="num-voters" class="form-control" style="display: none;" value="0">
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="#" data-value="100">100</a></li>
				<li><a href="#" data-value="250">250</a></li>
				<li><a href="#" data-value="500">500</a></li>
			</ul>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-12">
		<div class="form-group upload-btn">
			<button type="submit" class="btn btn-default login-button">UPLOAD</button>
		</div>
	</div>
</div>
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script>
$(".dropdown-menu li a").click(function(){
	$(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
	$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
	$(this).parents(".dropdown").find('#num-voters-input').val($(this).data('value'));
});
</script>


{% endblock %}